@font-face {
    font-family: Fira Sans;
    src: url(/assets/fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Source Sans Pro;
    src: url(/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
